 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="factori.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Descopunere in factori</title>
 </head>
 <body>
    <div id="sectiune">
        <div id="titlu"><h1 id="texter">Introduceti numarul dorit:</h1> </div>
     
    </div>
    <script src="factori.js"></script>
 </body>
 </html>