 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="intro_css.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>RoMateX</title>
 </head>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&display=swap" rel="stylesheet">
 <body>




<div id="main_section">
  
<div id="bara"></div>
<div id="bara_straight"></div>

<div id="centru">
    <div class="aplicatie" id="calculator">     <div class="scris">Calculator Simplu</div>    </div>
    <div class="aplicatie" id="factori"></div>
    <div class="aplicatie"></div>
    <div class="aplicatie"></div>
    <div class="aplicatie"></div>
    
</div>


      <div id="titlu">Bine ati venit pe RoMateX!</div>


  

<script src="home_script.js"></script>  
 </body>
 </html>