 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="calculator.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&display=swap" rel="stylesheet">


    <title>Calculator</title>
 </head>
 <body>
<div id="calculator-body">
    <div id="screen"><p id="calcul">0</p></div> 
    <div id="buttones">
        <div id="neg" class="but"><h1 id="frumos">+/-</h1></div>
        <div id="pat" class="but"><h1 id="frumos">x²</h1></div>
        <div id="rad" class="but"><h1 id="frumos">√x</h1></div>
        <div id="c" class="but"><h1 id="frumos">C</h1></div>
        <div id="7" class="but"><h1 id="frumos">7</h1></div>
        <div id="4" class="but"><h1 id="frumos">4</h1></div>
        <div id="1" class="but"><h1 id="frumos">1</h1></div>
        <div id="delete" class="but"><h1 id="frumos">←</h1></div>
        <div id="8" class="but"><h1 id="frumos">8</h1></div>
        <div id="5" class="but"><h1 id="frumos">5</h1></div>
        <div class="but" id="2"><h1 id="frumos">2</h1></div>
        <div class="but"id="0"><h1 id="frumos">0</h1></div>
        <div id="9" class="but"><h1 id="frumos">9</h1></div>
        <div id="6" class="but"><h1 id="frumos">6</h1></div>
        <div id="3" class="but"><h1 id="frumos">3</h1></div>
        <div id="egal" class="but"><h1 id="frumos">=</h1></div>
        <div id="div" class="but"><h1 id="frumos">/</h1></div>
        <div id="ori" class="but"><h1 id="frumos">*</h1></div>
        <div class="but"id="plus"><h1 id="frumos">+</h1></div>
        <div class="but"id="minus"><h1 id="frumos">-</h1></div>
    </div>

</div>
<script src="calculator.js"></script>  
 </body>
 </html>